<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Assistant&display=swap" rel="stylesheet">
  <title>help</title>
  <style>
 body {
  background-color: black;
  color: white;
  font-family: Assistant, sans-serif;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

.header{
	background-color: #360000;
    color: white;
    padding: 14px;
    text-allign: center;
  }
  p{
  font-size: 20px;
  
  }
  
  

  </style>
  </head>
  
  <body>
  

  <div class="header"><h2>Bug Reporting Form</h2></div>
  <p>Please fill out the following form to indicate any inconveniences you experienced with our software. Thank you!</p>
  
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScOKeVXB9SoNh5xjo6mUxgYXmlR_im19StTvuCIPAU1P2Ivcg/viewform?embedded=true" width="700" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  


   
</body>
</html>
